html,
body,
#caixa,
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#caixa {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.slidecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slidecontainer > input {
    width: 100%;
    max-width: 400px;
}